@model Code.User
@{
    Layout = "_WelcomePageOnlyLayout";
}
<body>
    @if (ViewBag.check)
    {
        <div id="alertDiv" class="alert alert-success alert-dismissible fade show mb-0" role="alert">
            <strong>Login successful!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <script>
            setTimeout(function () {
            document.getElementById('alertDiv').style.display = 'none';
        }, 2000); // Hide the alert after 5 seconds (5000 milliseconds)
    </script>
    }

    <div class="container mt-5 text-center">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-1">Welcome @ViewBag.Username</h1>
                <p class="lead">You can opt to use any of the below modules of CodeIn'</p>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <a href="@Url.Action("CodeEditor", "UserInterface")">
                    <img src="~/images/WelcomeCard1.jfif" class="card-img-top" alt="...">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">Compiler</h5>
                        <p class="card-text">Compile your code to get the output with ease.</p>
                        <a href="@Url.Action("CodeEditor", "UserInterface")" class="btn btn-primary">Let's compile</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <a href="@Url.Action("CodeBase", "UserInterface")">
                    <img src="~/images/WelcomeCard2.jfif" class="card-img-top" alt="...">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">Codebase</h5>
                        <p class="card-text">Save your code and fetch it whenever you need.</p>
                        <a href="@Url.Action("CodeBase", "UserInterface")" class="btn btn-primary">Save and fetch</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <a href="@Url.Action("ProblemSolving", "UserInterface")">
                    <img src="~/images/WelcomeCard3.jfif" class="card-img-top" alt="...">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">Problem Solving</h5>
                        <p class="card-text">Improve at coding and solve interesting problems.</p>
                        <a href="@Url.Action("ProblemSolving", "UserInterface")" class="btn btn-primary">Solve the problems</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
